<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXToOum9YMycph1nW6EZ-wCWnIbEB-ZMI&libraries=places" async
  defer></script>
<div class="content">
  <h2>{{title}}</h2>
  <div class="flexbox">
    <div class="form-group">
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Location"
        autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
      <button id="goto-loc" (click)="onGotoLocation()">Goto location</button>
    </div>
    <!-- <label for="lat_long">{{getLatLong()}}</label> -->
    <div id="panel">
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="From"
        autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #location_from>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="To"
        autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #location_to>
      <!-- <label><b>Mode of Travel</b></label> -->
      <select id="mode" (change)="getSelectedMode($event)" travelModeSelector>
        <!-- <option value="ModeofTravel" selected hidden>Mode of Travel</option> -->
        <option value="DRIVING" selected>Driving</option>
        <option value="WALKING">Walking</option>
        <!-- <option value="BICYCLING">Bicycling</option> -->
        <!-- <option value="TRANSIT">Transit</option> -->
      </select>
      <!-- <button class="icons"><img src="https://img.icons8.com/ios-filled/25/000000/car.png" /></button>
      <button class="icons"><img src="https://img.icons8.com/ios-filled/25/000000/cycling-road--v1.png" /></button>
      <button class="icons"><img src="https://img.icons8.com/ios-filled/25/000000/walking.png" /></button> -->
      <button id="get-dir" (click)="onGetDirectionClick()">Get direction</button>
    </div>
  </div>
  <br>
  <div class="coronamap">
    <agm-map directionsMap [zoom]="13" [latitude]="lat" [longitude]="lng" [displayDirection]=" true"
      [origin]="direction_origin" [destination]="direction_destination">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      <agm-circle *ngFor="let data of circle" [latitude]="data.lat" [longitude]="data.lng" [fillColor]="data.color"
        [radius]="data.radius">
      </agm-circle>
    </agm-map>
  </div>
</div>